
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 209px;
    width: 100%;
    min-width: 375px;
    background-color: $footer-bg;
    position: absolute;
    left: 0;
    margin-top: 20px;
    @include mq(tablet){
        margin-top: 35px;
    }
    @include mq(desktop){
        margin-top: 60px;
    }

    &__logo{
        .logo--white{
            width: 122px;
        }
    }
        
    &__license{
        color: $secondary;
        font-size: 12px;
        @include mq(desktop){
            font-size: 18px;
        }
    }
}