
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    float: right;
    height: fit-content;
    border-radius: 25px;
    justify-content: center;
    gap: 30px 30px;
    
    @include mq(tablet){
        background-color: $container-bg;
        padding: 35px 30px;
    }
    @include mq(desktop){
        gap: 60px 60px;
        padding: 60px 30px;
    }
}