.about{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    & .banner{
        margin: 30px 0px;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        height: 223px;
        width: 100%;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../asset/about__banner_m.png");
        @include mq(tablet){
            margin: 30px 0px;  
        }

        

        &__image{
            display: none;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 25px;
            @include mq(tablet){
                display: flex;
            }
        }
    }
}