.product{
    &__title{
        color: $primary;
        font-size: 36px;
        font-weight: $medium;
        margin-bottom: 0px;
    }
    &__location{
        margin: 0px;
        color: $primary;
        font-size: 18px;
        font-weight: $medium;
    }

    & .collapses{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    & .collapse-container{
        width: 50%;
    }
    & ul{
        margin: 0px;
    }
}