.product{
    & .infos{
        position: relative;
    }
    &__title{
        padding-right: 0px;
        color: $primary;
        font-size: 18px;
        font-weight: $medium;
        margin-bottom: 0px;
        @include mq(desktop){
            font-size: 36px;
            padding-right: 150px;
        }
    }
    &__location{
        margin: 0px;
        color: $primary;
        font-size: 14px;
        font-weight: $medium;
        @include mq(desktop){
            font-size: 18px;
        }
    }
    & .host{
        display: flex;
        
        @include mq(desktop){
            position: absolute;
            right: 0px;
            top: 0px;
        }

        &__name{
            width: min-content;
            color: $primary;
            text-align: right;
            padding-top: 10px;
            font-size: 12px;
            @include mq(desktop){
                font-size: 18px;
            }
        }
        &__picture{
            width: 32px;
            height: 32px;
            margin-top: 10px;
            margin-left: 10px;
            border-radius: 90px;
            @include mq(desktop){
                margin-top: 0px;
                width: 64px;
                height: 64px;
            }
        }
    }
    & .tags{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: baseline;
        gap: 15px;
        margin-top: 15px;
        .tag{
            color: $secondary;
            background-color: $primary;
            width: 84px;
            height: 18px;
            border-radius: 25px;
            font-size: 10px;
            padding-top: 3px;
            font-weight: $medium;
            overflow: hidden;
            text-align: center;
            @include mq(desktop){
                width: 115px;
                height: 25px;
                font-size: 14px;
                padding-top: 4px;
            }
        }
    }

    & .collapses{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    & .collapse-container{
        width: 50%;
    }
    & ul{
        margin: 0px;
    }
}