@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  min-width: 375px;
  max-width: 1360px;
  margin: auto;
}

.App {
  margin: 40px 20px;
}
@media screen and (min-width: 576px) {
  .App {
    margin: 40px 40px;
  }
}
@media screen and (min-width: 992px) {
  .App {
    margin: 40px 60px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 48px;
  }
}

h3 {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
}

p {
  font-weight: 200;
}

.nav {
  display: flex;
  position: relative;
}
.nav ul {
  display: flex;
  margin: 20px 0px;
}
.nav ul a {
  margin-left: 15px;
}
@media screen and (min-width: 992px) {
  .nav ul a {
    margin-left: 30px;
  }
}
.nav ul a li {
  color: #FF6060;
  transition: 0.2s;
  cursor: pointer;
}
.nav ul a li:hover {
  color: #e00000;
}
.nav--active {
  position: relative;
}
.nav--active::after {
  content: "";
  height: 1px;
  width: 0;
  background: #FF6060;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: nav 0.3s ease forwards;
  animation: nav 0.6s ease forwards;
}
@-webkit-keyframes nav {
  to {
    width: 100%;
  }
}
@keyframes nav {
  to {
    width: 100%;
  }
}

.logo--mobile {
  height: 47px;
  width: 145px;
}
@media screen and (min-width: 992px) {
  .logo--desktop {
    height: 68px;
    width: 210px;
  }
}

.collapse {
  height: 47px;
  background-color: #FF6060;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 0px 20px;
  border: none;
  outline: none;
  display: block ruby;
  position: relative;
}
.collapse-container {
  margin-bottom: 30px;
}
.collapse__title {
  font-weight: 300;
  margin: 0px;
  width: 50%;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .collapse__title {
    font-size: 18px;
  }
}
.collapse__vector {
  position: absolute;
  right: 12px;
  display: flex;
  top: 35%;
  width: 19px;
}
@media screen and (min-width: 992px) {
  .collapse__vector {
    width: 24px;
  }
}
.collapse__content {
  border-radius: 5px;
  padding: 25px 20px;
  overflow: hidden;
  background-color: #F6F6F6;
  height: fit-content;
  color: #FF6060;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .collapse__content {
    font-size: 18px;
    font-weight: 300;
  }
}

.banner {
  margin: 0px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 111px;
}
@media screen and (min-width: 576px) {
  .banner {
    height: 223px;
    margin: 30px 0px;
  }
}
.banner__image {
  display: flex;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
  height: 100%;
}
.banner__title {
  margin: 0;
  height: 40%;
  text-align: left;
  padding-left: 20px;
  width: 100%;
  padding-right: 30%;
  position: relative;
  background: none;
  margin: auto;
}
@media screen and (min-width: 576px) {
  .banner__title {
    height: 25%;
    text-align: center;
    padding: 0;
  }
}

.slideshow {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}
.slideshow .slide {
  height: 255px;
  display: flex;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .slideshow .slide {
    height: 415px;
  }
}
.slideshow img {
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}
.slideshow svg {
  height: 20px;
}
@media screen and (min-width: 992px) {
  .slideshow svg {
    height: 80px;
  }
}
.slideshow .button {
  cursor: pointer;
  top: 118px;
  position: absolute;
  background: none;
  border: none;
}
@media screen and (min-width: 992px) {
  .slideshow .button {
    top: 170px;
  }
}
.slideshow .button--right {
  right: 0px;
}
@media screen and (min-width: 992px) {
  .slideshow .button--right {
    right: 25px;
  }
}
.slideshow .button--left {
  left: 0px;
}
@media screen and (min-width: 992px) {
  .slideshow .button--left {
    left: 25px;
  }
}
.slideshow button:hover path {
  animation: button 0.6s ease forwards;
}
@keyframes button {
  to {
    fill: #FF6060;
  }
}
.slideshow .indicators {
  display: none;
  position: absolute;
  top: 90%;
  right: 50%;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
@media screen and (min-width: 992px) {
  .slideshow .indicators {
    display: flex;
  }
}
.slideshow .indicators:hover {
  animation: indicators 0.6s ease forwards;
}
@keyframes indicators {
  to {
    color: #FF6060;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 10px 0px;
  position: relative;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  float: right;
  height: fit-content;
  border-radius: 25px;
  justify-content: center;
  gap: 30px 30px;
}
@media screen and (min-width: 576px) {
  .gallery {
    background-color: #F6F6F6;
    padding: 35px 30px;
  }
}
@media screen and (min-width: 992px) {
  .gallery {
    gap: 60px 60px;
    padding: 60px 30px;
  }
}
.gallery__card {
  min-width: 335px;
  height: 255px;
  border-radius: 25px;
  width: 100%;
  display: flex;
  position: relative;
  background-color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.gallery__card:hover {
  background: linear-gradient(180deg, rgb(255, 96, 96) 0%, rgb(0, 0, 0) 80%);
}
@media screen and (min-width: 992px) {
  .gallery__card {
    width: auto;
    height: 340px;
  }
}
.gallery__card img {
  opacity: 0.7;
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 255px;
}
@media screen and (min-width: 992px) {
  .gallery__card img {
    width: 340px;
    height: 340px;
  }
}
.gallery__card img:hover {
  transition: 0.6s;
  opacity: 0.2;
}
.gallery__card .card__title {
  margin: 0;
  height: 45px;
  text-align: left;
  padding-left: 20px;
  padding-right: 16%;
  width: 100%;
  bottom: 20px;
  position: absolute;
  background: none;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
@media screen and (min-width: 576px) {
  .gallery__card .card__title {
    bottom: 12px;
    padding-right: 35%;
  }
}
@media screen and (min-width: 992px) {
  .gallery__card .card__title {
    bottom: 20px;
    padding-right: 17%;
  }
}
.gallery__card:hover {
  box-shadow: 0px 0px 10px rgba(96, 0, 0, 0.8);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 209px;
  width: 100%;
  min-width: 375px;
  background-color: #000000;
  position: absolute;
  left: 0;
  margin-top: 20px;
}
@media screen and (min-width: 576px) {
  .footer {
    margin-top: 35px;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    margin-top: 60px;
  }
}
.footer__logo {
  width: 122px;
}
.footer__license {
  color: #FFFFFF;
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  .footer__license {
    font-size: 18px;
  }
}

.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.home_banner {
  margin: 0px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 111px;
}
@media screen and (min-width: 576px) {
  .home_banner {
    height: 223px;
    margin: 30px 0px;
  }
}
.home_banner__image {
  display: flex;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
  height: 100%;
}
.home_banner__title {
  margin: 0;
  height: 40%;
  text-align: left;
  padding-left: 20px;
  width: 100%;
  padding-right: 30%;
  position: relative;
  background: none;
  margin: auto;
}
@media screen and (min-width: 576px) {
  .home_banner__title {
    height: 25%;
    text-align: center;
    padding: 0;
  }
}
@media screen and (min-width: 576px) {
  .home_banner__title br {
    display: none;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.about .banner {
  margin: 30px 0px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../asset/about__banner_m.png");
}
@media screen and (min-width: 576px) {
  .about .banner {
    margin: 30px 0px;
  }
}
.about .banner__image {
  display: none;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
}
@media screen and (min-width: 576px) {
  .about .banner__image {
    display: flex;
  }
}

.error404 {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.error404__title {
  color: #FF6060;
  font-size: 96px;
  font-weight: bold;
  margin: 0px;
  padding-top: 40%;
}
@media screen and (min-width: 992px) {
  .error404__title {
    font-size: 288px;
    padding-top: 10%;
  }
}
.error404__description {
  color: #FF6060;
  font-weight: 400;
  font-size: 18px;
  padding: 0% 3%;
}
@media screen and (min-width: 576px) {
  .error404__description {
    font-size: 36px;
  }
}
.error404__backToHome {
  color: #FF6060;
  font-weight: 400;
  font-size: 14px;
  padding: 35% 0%;
}
@media screen and (min-width: 576px) {
  .error404__backToHome {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .error404__backToHome {
    padding: 8% 0%;
  }
}

.product .infos {
  position: relative;
}
.product__title {
  padding-right: 0px;
  color: #FF6060;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}
@media screen and (min-width: 992px) {
  .product__title {
    font-size: 36px;
    padding-right: 150px;
  }
}
.product__location {
  margin: 0px;
  color: #FF6060;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .product__location {
    font-size: 18px;
  }
}
.product .host {
  display: flex;
}
@media screen and (min-width: 992px) {
  .product .host {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
.product .host__name {
  width: min-content;
  color: #FF6060;
  text-align: right;
  padding-top: 10px;
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  .product .host__name {
    font-size: 18px;
  }
}
.product .host__picture {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 90px;
}
@media screen and (min-width: 992px) {
  .product .host__picture {
    margin-top: 0px;
    width: 64px;
    height: 64px;
  }
}
.product .collapses {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.product .collapse-container {
  width: 50%;
}
.product ul {
  margin: 0px;
}

/*# sourceMappingURL=index.css.map */
