
.collapse {
    height:30px;
    background-color: $primary;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 0px 20px;
    border: none;
    outline: none;
    display: block ruby;
    position: relative;
    @include mq(desktop){
        height:47px;
    }

    &-container{
        margin-bottom: 20px; 
        @include mq(desktop){
            margin-bottom: 30px;    
        }
        
    }
    
    &__title{
        font-weight: $regular;
        margin: 0px;
        width: 50%;
        color: $secondary;
        font-size: 13px;
        font-weight: $medium;
        @include mq(desktop){
            font-size: 24px;
        }
    }

    &__vector{
        position: absolute;
        right: 12px;
        display: flex;
        top: 35%;
        width: 19px;
        @include mq(desktop){
            width: 24px;
        }
    }
    
    &__content{
        border-radius: 5px;
        padding: 18px 20px;
        overflow: hidden;
        background-color: $container-bg;
        height: fit-content;
        color: $primary;
        text-align: left;
        font-size: 12px;
        font-weight: $medium;
        @include mq(desktop){
            padding: 30px 20px;
            font-size: 22px;
            font-weight: $regular;
        }
    }
}