
.collapse {
    height:47px;
    background-color: $primary;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 0px 20px;
    border: none;
    outline: none;
    display: block ruby;
    position: relative;

    &-container{
        margin-bottom: 30px;
    }
    
    &__title{
        font-weight: $regular;
        margin: 0px;
        width: 50%;
        color: $secondary;
        font-size: 18px;
    }

    &__vector{
        position: absolute;
        right: 12px;
        display: flex;
        top: 35%;
    }
    
    &__content{
        border-radius: 5px;
        padding: 25px 20px;
        overflow: hidden;
        background-color: $container-bg;
        height: fit-content;
        color: $primary;
        text-align: left;
    }
}