* {
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: $main-bg;
    min-width: 375px;
    max-width: 1360px;
    margin: auto;
  }

  .App{
    margin: 40px 20px;
    @include mq(tablet){
      margin: 40px 40px;
      }
    @include mq(desktop){
    margin: 40px 60px;
    }
  }

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }