@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*{font-family: 'Oswald';}

h1{font-weight: $medium;}

h2{font-weight: $regular;}

p{font-weight: $light;}