// Colors
$primary: #FF6060;
$secondary: #FFFFFF;

// Backgrounds
$main-bg: #FFFFFF;
$container-bg: #F6F6F6;

// font-weight
$light: 200;
$regular: 300;
$medium: 400;

// Breakpoints
$mobile: 375px;
$tablet: 576px;
$desktop: 992px;

$breakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  desktop: $desktop
);