// Colors
$primary: #FF6060;
$secondary: #FFFFFF;

// Backgrounds
$main-bg: #E5E5E5;
$container-bg: #F6F6F6;

// font-weight
$light: 300;
$regular: 400;
$medium: 500;

// Breakpoints
$mobile: 375px;
$tablet: 576px;
$desktop: 992px;

$breakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  desktop: $desktop
);